<div ng-include="'partials/navigationbar.html'"></div>
<div class="container-fluid">
    <!-- Your work here -->
    <div class="row" style="margin-top: 70px;">
             <div class="col-md-5">
                 <img src="/assets/images/aboutus.jpg" class="img-fluid" style="height: 400px;width: 400px; margin-top: 110px; margin-left: 50px;">
             </div>
            <div class="col-md-7">
                <h1 class="text-primary text-center" style="margin-top: 15px;">About Us</h1>
                <p><q><i>Wishginee</i></q> is Web Application to solve the problem of Lack of Funds for NGO, No interaction with Corporates for CSR initiatives, No Proper Interactive Websites, No Portfolio/Showcase, Lack of reach to public.</p>
                <p>Main purpose of this website is to the crowd gathering. It provides online donation system and donation profile management system for the social charities, social corporates, helping hands, public user.</p>
                <p><i>Wishginee</i> is a funding organization. We also provides fundraise or write proposals.</p>
                <p><i>Wishginee</i> believes that no intervention can be successful unless the implementing organization has sustainable resources to work over a longer period of time. By presenting funding opportunities from around the world and providing tools supporting organizational growth, we hope to play our part in creating a better world.</p>
                <p>NGOs around the world face unique challenges in attracting and maintaining resources for their programs. Although development funding has multi-billion dollar annual disbursements, many barriers prevent NGOs from successfully vying for these funds. Announcements of funding competitions are fragmented all over the web and difficult to identify; competition is tough and the application process arduous; and many NGOs simply do not have the capacity or technical know-how to effectively go after funding opportunities.</p>
            </div>
        </div>

    
</div>
<div ng-include="'partials/footer.html '"></div>