<div ng-include="'partials/navigationbar.html'"></div>
<div class="container-fluid">
    <!-- Your work here -->
    <div class="row" style="margin-top: 80px;">
        <img src="/assets/images/exploreDonation.jpg" class="img-fluid z-depth-3 mx-auto d-block" style="width: 100%; height: 300px;">
    </div>
    <div class="row" style="padding: 0px 20px;">
        <div class="col-md-12" style="margin-top: 40px;">
            <h3  class="text-primary text-justify">Why Donation?</h3>
            <p class="text-justify">
                We all have brains to think, but it needs a strong and big heart to help others. Yes! All of us aren't able to learn in school, couldn't able to eat for twice a day, didn't make themselves to what they must be deserved. This is not what God had made them like that, it's what our attitude towards them reflects! We believe that not all can help them but you can just by donating such events and campaigns organized by genuine NGOs/Helping Hands.
            </p><br/>
            <h3  class="text-primary text-justify">How to Donate?</h3>
            <p class="text-justify">
                The Donation procedure is safe and sound. The reason for its safety is because Wishginee uses <q>RazorPay - An Indian Startup for Online Transaction</q> as it's online transaction partner. To proceed any donation, following steps to be kept in mind-
            </p>
            <ol>
                <li>
                    Search and explore any campaign/event which came from approval of admin.
                </li>
                <li>
                    Click on Donate where you will be redirected to RazorPay Portal for pay.
                </li>
                <li>
                    Enter your details and that's it! You donated for a campaign/event.
                </li>
            </ol>
            <br/>
            <h3  class="text-primary text-justify">Whom to Donate?</h3>
            <p class="text-justify">
                Wishginee's first aim is to bring all four categories together, i.e. Social Corporates, Non-Governmental Organization, Helping Hands & Normal Users. The general concept is to bridging the gap between the Donor and Donee and that is provided by means of Campaigns and Events. You can therefore donate the amount majorly to -
            </p>
            <ol>
                <li>
                    Campaigns, and
                </li>
                <li>
                    Events
                </li>
            </ol><br/>
            <h3  class="text-primary text-justify">Is Donation on Wishginee Safe?</h3>
            <p class="text-justify">
                One of the most common question that arises while donating is that, <q>Is it safe to donate here?</q> The answer is YES! And this is because of its <q>Genuine Request Approval Process.</q> This process includes approval of genuine Users/Campaigns/Events, that is why it is assured to donate amount to people in need only.
            </p>
            <p class="text-justify">
                Secondly, the payment portal <q>RazorPay</q> which is an online payment gateway which allows Indian businesses to collect payments online through credit card, debit card, netbanking and popular wallets including JioMoney, Mobikwik, PayUmoney, Airtel Money, FreeCharge, Ola Money and PayZapp. It's diversity and safety makes online payments safest of all!
            </p>
        </div>
    </div>
</div>
<div ng-include="'partials/footer.html'"></div>