<div ng-include="'partials/navigationbar.html'"></div>
<div class="container-fluid">
    <!-- Your work here -->
    <div class="row" style="margin-top: 80px;">
        <img src="/assets/images/event4.jpeg" class="img-fluid z-depth-3 mx-auto d-block" style="width: 100%; height: 300px;">
    </div>
    <div class="row" style="padding: 0px 20px;">
        <div class="col-md-12" style="margin-top: 40px;">
        <h3  class="text-primary text-justify">What is an Event?</h3>
        <p class="text-justify">An event can be described as a public assembly for the purpose of celebration, education, marketing or reunion.</p><br/>
            <h3 class="text-primary text-justify">How to create Event?</h3>
                <p class="text-justify">Only NGO and public user can create Events</p>
                <p class="text-justify">For that just go through the page of Events.</p>
                <p class="text-justify">Then click on the SETUP Event button to create Event.</p>
                <p class="text-justify">After that fill all the details in form. All fields are required.</p><br>
            <h3 class="text-primary text-justify">How to Donate?</h3>
            <p class="text-justify">To Donate to specific event just go through the Donation button at bottom of that event. And then go through the instructions.</p><br/>
            <h3 class="text-primary text-justify">Why Events are necessary?</h3>
            <p class="text-justify">
            <ul class="rounded-circle">
                <li>The advantages of a event alliance include: Stronger voice and wider reach: making a event known more widely, and enhancing its credibility both with the target audience and potential supporters.</li>
                <li>With a broad alliance, a event can draw support from diverse constituencies and networks.</li><br/>
            </ul>
            </p>

            <h3 class="text-primary text-justify">How Events works?</h3>
            <p class="text-justify">
            <ul class="rounded-circle">
                <li> Work in an organized and active way towards a goal.</li>
                <li>Eventing can be the best and most effective way of achieving goals.</li>
                <li>Eventing can address the root causes of social problems and not just their effects.</li>
            </ul>
            </p>
        </div>
    </div>
</div>
<div ng-include="'partials/footer.html'"></div>