<div ng-include="'partials/navigationbar.html'"></div>
<div class="container-fluid">
    <!-- Your work here -->
    <div class="row" style="padding: 0px 20px;">
        <div class="col-md-12 col-sm-12" style="margin-top: 60px">

            <div class="row">
                <div class="col-md-12 col-sm-12" style="padding: 0px">
                    <div class="card hoverable">
                        <div class="card-block">
                            <img src="../assets/images/camp.jpg" style="height:300px;width:1329px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12" style="margin-top: 20px">
                    <h3 class="text-primary text-justify">What is Campaign?</h3>
                    <p class="text-justify">Complete, planned course of action formulated to achieve defined objectives in marketing, public relations, quality enhancement, revenue generation, safety standards, etc.</h5></p>

                    <h3 class="text-primary text-justify">How to create Campaigns?</h3>
                    <p class="text-justify">
                        <ul class="rounded-circle">
                            <li>Anybody can create a campaign for any purpose.</li>
                            <li>For that just go through the page of Campaigns.</li>
                            <li>There u can find a button and by clicking that we can update a campaign.</li>
                            <li>All the fields have to be filled.</li>
                        </ul>
                    </p>

                    <h3 class="text-primary text-justify">How to Donate?</h3>
                    <p class="text-justify">Donation will be anything like blood donation, old book donation, clothes etc. And for charity there is online page for it so it will be more safe.</p>


                    <h3 class="text-primary text-justify">Why Campaigns are necessary?</h3>
                    <p class="text-justify">
                        <ul class="rounded-circle">
                            <li>The advantages of a campaign alliance include: Stronger voice and wider reach: making a campaign known more widely, and enhancing its credibility both with the target audience and potential supporters.</li>
                            <li>With a broad alliance, a campaign can draw support from diverse constituencies and networks.</li>
                        </ul>
                    </p>

                    <h3 class="text-primary text-justify">How Campaigns works?</h3>
                    <p class="text-justify">
                         <ul class="rounded-circle">
                            <li> Work in an organized and active way towards a goal.</li>
                            <li>Campaigning can be the best and most effective way of achieving goals.</li>
                            <li>Campaigning can address the root causes of social problems and not just their effects.</li>
                        </ul>
                    </p>
                </div>
            </div>
</div>
    </div>

    </div>

<div ng-include="'partials/footer.html'" style="margin-top:10px"></div>