<div ng-include="'partials/navigationbar.html'"></div>
<div class="container-fluid">
    <!-- Your work here -->
    <div class="row">
        <div class="col-md-12 col-sm-12" style="margin-top: 60px">

            <div class="row">
                <div class="col-md-12 col-sm-12" style="padding: 0px">
                    <div class="card hoverable">
                        <div class="card-block" style="text-align: center">
                            <h4>Frequently Asked Questions</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12" style="margin-top: 20px">
                    <h5 class="text-primary text-justify">What is Wishginee?</h5>
                    <p class="text-justify">Web Application to solve the problem of Lack of Funds for
                        NGO, No interaction with Corporates for CSR initiatives, No Proper
                        Interactive Websites, No Portfolio/Showcase, Lack of reach to public.
                        Also with the integration of data management systems like Amazon
                        S3.
                    </p>

                    <h5 class="text-primary text-justify">How to create a Campaign?</h5>
                    <p class="text-justify">
                        <ul class="rounded-circle">
                            <li>Anybody can create a campaign for any purpose.</li>
                            <li>For that just go through the page of Campaigns.</li>
                            <li>There u can find a button and by clicking that we can update a campaign.</li>
                            <li>All the fields have to be filled.</li>
                        </ul>
                    </p>

                    <h5 class="text-primary text-justify">How to register for events?</h5>
                    <p class="text-justify">
                        <ul class="rounded-circle">
                            <li>There are many events so we have choices and also you can see it online.</li>
                            <li>As there is event description with location and time.</li>
                            <li>Anybody can participate in it on the spot.</li>

                        </ul>

                    </p>

                    <h5 class="text-primary text-justify">Who can Donate?</h5>
                    <p class="text-justify">There is no restrictions for Donation as its only for charity and to help the poor ones. Donation will be anything like blood, old books, clothes,organs etc.</p>

                    <h5 class="text-primary text-justify">How can we see what others are doing?</h5>
                    <p class="text-justify">There are many persons who are part of it like NGOs, Social Corporates, Helping Hands,Public Users. By following each other we can up to date by what they are doing actually.</h5></p>

                    <h5 class="text-primary text-justify">How to see events list?</h5>
                    <p class="text-justify">By just visiting the Events page on the sidebar ,you can see all the events with their time, location, city etc.</p>

                    <h5 class="text-primary text-justify">How to manage events?</h5>
                    <p class="text-justify">There are helping hands who are available for the users and participants they will help in any situation.</p>

                    <h5 class="text-primary text-justify">Is this secure?</h5>
                    <p class="text-justify">Yes, it is secure because we have authentication security.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer.html'" style="margin-top:10px"></div>