<footer class="page-footer blue center-on-small-only">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h5 class="title">Wishginee</h5>
                <p>Crowd funding made easy!</p>
            </div>
            <div class="col-md-3">
                <h5 class="title">Learn More</h5>
                <ul>
                    <li><a href="#!">What is Wishginee?</a></li>
                    <li><a href="#!">Our Stories</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="title">About US</h5>
                <ul>
                    <li><a href="#!/team">Team</a></li>
                    <li><a href="#!/FAQs">FAQs</a></li>
                    <li><a href="#!">Pricing</a></li>
                    <li><a href="#!">Terms & Conditions</a></li>
                    <li><a href="#!">Privacy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="title">Support</h5>
                <ul>
                    <li><a href="#!/contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2015 Copyright: Wishginee
        </div>
    </div>
</footer>
