<div ng-include="'partials/navigationbar.html'"></div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12 text-center">
        <h1 style="margin-top: 80px; font-family: 'Sansita', sans-serif;"><strong>Wishginee</strong></h1><br/>
    </div>
</div>
    <div class="row">
        <div class="col-md-8 text-center">
            <h3 style="font-family: 'Sansita', sans-serif;">Hi User!!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            <h4 style="padding-left: 40px; font-family: 'Sansita', sans-serif;">Please Confirm Your Email address to secure your Account.</h4><br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-blue-grey" href="#" >Confirm Your Email Address</a>
        </div>
    </div>
</div>
