<div ng-include="'partials/navigationbar.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 hidden-md-down padding-0">
            <div ng-include="'partials/sideBar.html'"></div>
        </div>
        <div class="col-md-6" ng-init="loadNotifications();" style="margin-top: 70px">
            <div class="card text-center" style="height: 95px; margin-bottom: 20px" ng-repeat="notification in notifications | orderBy: notification.created_at:true">
                <div class="card-block">
                    <img class="img-fluid float-left" style="border-radius: 50%;height: 50px" ng-src="{{notification.from_user_profile}}"/>
                    <div class="float-left" style="margin-top: 5px; margin-left: 5px">
                        <a  ng-href="#!/users/{{notification.from_user_id}}">{{notification.from_user_name}}</a> {{notification.text}}<br><span style="float: left;color: gray; font-size: 12px;">{{notification.updated_at.split(" ")[1]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>