<div ng-include="'partials/navigationbar.html'"></div>
<div class="container-fluid">
    <!-- Your work here -->
    <div class="card z-depth-2" style="margin-top: 90px;">
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid img-thumbnail mx-auto d-block" src="/assets/images/hardik.jpeg" style="width: 250px; height: 250px; border-radius: 18px 18px 18px 18px;">
        </div>
        <div class="col-md-5">
            <div class="card-block">
                <h3 class="text-primary">Hardik Patel</h3>
                <h5>Specialization:   Full Stack Developer</h5>
                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a href="#">hardikpatel.hardik36@gmail.com</a><br>
                <i class="fa fa-mobile-phone fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;&nbsp;<span>83473179999</span>
            </div>
        </div>
    </div>
    </div>
    <div class="card z-depth-2" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid img-thumbnail mx-auto d-block" src="/assets/images/krishna.jpg" style="width: 250px; height: 250px; border-radius: 18px 18px 18px 18px;">
            </div>
            <div class="col-md-5">
                <div class="card-block">
                    <h3 class="text-primary">Krishna Mehta</h3>
                    <h5>Specialization:   Front End Developer</h5>
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a href="#">krishna511996@gmail.com</a><br>
                    <i class="fa fa-mobile-phone fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;&nbsp;<span>9662039277</span>
                </div>
            </div>
        </div>
    </div>
        <div class="card z-depth-2" style="margin-top: 30px;">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-fluid img-thumbnail mx-auto d-block" src="/assets/images/sagar.jpeg" style="width: 250px; height: 250px; border-radius: 18px 18px 18px 18px;">
                </div>
                <div class="col-md-5">
                    <div class="card-block">
                        <h3 class="text-primary">Sagar Sharma</h3>
                        <h5>Specialization:   Back End Developer</h5>
                        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a href="#">s.sharma8995@gmail.com</a><br>
                        <i class="fa fa-mobile-phone fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;&nbsp;<span>9427489774</span>
                    </div>
                </div>
            </div>
        </div>
    <div class="card z-depth-2" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid img-thumbnail mx-auto d-block" src="/assets/images/nishi.jpg" style="width: 250px; height: 250px; border-radius: 18px 18px 18px 18px;">
            </div>
            <div class="col-md-5">
                <div class="card-block">
                    <h3 class="text-primary">Nishi Patel</h3>
                    <h5>Specialization:   Front End Developer</h5>
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a href="#">patelns1995@gmail.com</a><br>
                    <i class="fa fa-mobile-phone fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;&nbsp;<span>9601860367</span>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="card z-depth-2" style="margin-top: 30px;">
        <div class="row">
                <div class="col-md-4"></div>
            <div class="col-md-5">
                <div class="card-block">
                    <h3 class="text-primary">Krishna Mehta</h3>
                    <h5>Specialization:   FrontEnd Developer</h5>
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a href="#">krishna511996@gmail.com</a><br>
                    <i class="fa fa-mobile-phone fa-lg" aria-hidden="true"></i>&nbsp; &nbsp;&nbsp;<span>9662039277</span>
                </div>
            </div>
            <div class="col-md-3">
                <img class="img-fluid img-thumbnail mx-auto d-block" src="/assets/images/krishna.jpeg" style="height: 250px; width: 250px;"
            </div>
        </div>

    </div>-->

</div>
<div ng-include="'partials/footer.html'"></div>